#issue_box{
	position:relative;
	top:1.875em;
	left:17.5em;
	width:25em;
	height:25em;
	border-style:solid;
	border-width:0.0625em;
	border-color:#98BF21;
}

#head{
	position:relative;
	height:1.25em;
	background-color:#98BF21;
	font-style:"黑体";
	font-weight:bold;
	text-align:center;
	color:#FFFFFF;
	padding:0.4375em;
}

form{
	position:relative;
	left:3.125em;
}

#prompt{
	position:relative;
	left:3.125em;
	height:0.9375em;
	color:red;
	font-size:0.8125em;
}

textarea{
	resize:none;
}

span{
	color:gray;
	font-size: 0.875em;
}

#submit_button{
	position:relative;
	left:5em;
	width:9.275em;
	height:1.6875em;
	background-color:#98BF21;
	color:white;
	border-color:#98BF21;
	font-family: "黑体";
    font-size:0.9375em;
}